<html>
 {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome-4.6.3/css/font-awesome.css' %}">
</head>

<body>
 <div>
    <a href="/"> MyInsta </a>
</div>

<div>
    <ul>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'logout' %}">logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}">login</a>
        </li>

        <li>
            <a href="{% url 'sign_up' %}">sign up</a>
        </li>
        {% endif %}
    </ul>
<div>

{% block content%}
{% endblock content%}
</body>
</html>